@page
@model Lab4.Pages.StudentManagement.IndexModel
@using Lab4.DataAccess;
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a class="link-primary" asp-route-orderby="name">@Html.DisplayNameFor(model => model.Student[0].Name)</a> <!-- DisplayNameFor: display the name of the property Name in Student Class -->
            </th>
            <th>
                <a class="link-primary" asp-route-orderby="numberOfCourses">Number of Courses</a>
            </th>
            <th>
                <a class="link-primary" asp-route-orderby="avgGrade">Avg. Grade</a>
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Student) 
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>                                    
                @item.AcademicRecords.Count()
            </td>
            <td>
                @item.AcademicRecords.Average(ar => ar.Grade)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./index" asp-route-id="@item.Id" asp-page-handler="delete" onclick="confirm('Please confirm to delete student: \n\n @item.Name \n\nAll his/her academic records will be deleted too!')">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
