@page
@model Lab4.Pages.StudentManagement.IndexModel
@using Lab4.DataAccess;
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Name)
            </th>
            <th>
                Number of Courses
            </th>
            <th>
                Avg. Grade
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Student) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>               
@*                  int courses = 0;
                    foreach(var ar in Model.AcademicRecord)
                    {                     
                        if(ar.StudentId == item.Id)
                        {
                            courses ++;
                        }
                    }*@

                @Html.DisplayFor(modelItem => item.AcademicRecords.Count)                 
            </td>
            <td>

            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id" id="delete">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@*@section Scripts{
    <script type="text/javascript">
        document.querySelector("#delete").addEventListener("click", function(){
            //alert("Please confirm to delete student: \n\n \n\nAll his/her academic records will be deleted too!")
            let text = "Please confirm to delete student: \n\n \n\nAll his/her academic records will be deleted too!";
            if (confirm(text) == true) {
            console.log("ok");
            } else {
            console.log("cancel");
            }
        });
    </script>
}*@
